<ion-app>
  <ion-menu side="start" menuId="first" contentId="content">
    <ion-header>
      <ion-item>
        <ion-toolbar>
          <ion-buttons>
              <ion-menu-button color="dark" slot="start">
              </ion-menu-button>
           </ion-buttons>
      </ion-toolbar>
           <ion-text>Menu</ion-text>
      </ion-item>
    </ion-header>
    <ion-content color="light">
      <ion-list>
        <ion-item *ngIf="this.server.isHost == true" button (click)="server.setModalPage('kick');presentModal()">
          <ion-icon name="person-outline" slot="start"></ion-icon>
            Kick Player
        </ion-item>
        <ion-item *ngIf="this.server.inRoom == true" button (click)="changeNamePrompt()">
          <ion-icon name="person-outline" slot="start"></ion-icon>
            Change Name
        </ion-item>
        <ion-item *ngIf="this.server.isHost == true" button (click)="server.setModalPage('changeScore');presentModal()" >
          <ion-icon name="easel-outline" slot="start"></ion-icon>
            Edit Scores
        </ion-item>

        <ion-item *ngIf="this.server.inRoom" button (click)="server.setModalPage('scores');presentModal()">
          <ion-icon name="easel-outline" slot="start"></ion-icon>
            Scores
        </ion-item>
        <ion-item *ngIf="this.server.isHost" button (click)="server.setModalPage('changeHost');presentModal()">
          <ion-icon name="school-outline" slot="start"></ion-icon>
            Change Host
        </ion-item>
        <ion-item *ngIf="this.server.inRoom" button (click)="leaveRoomPrompt()">
          <ion-icon name="exit-outline" slot="start"></ion-icon>
            Leave Room
        </ion-item>

        <ion-item [routerLink]="exit" routerDirection="forward">
          <ion-icon name="close-circle-outline" slot="start"></ion-icon>
            Exit
        </ion-item>
      </ion-list>

    </ion-content>
    <ion-footer>
      <ion-toolbar >
        <ion-text>App: {{ versionNumer }} </ion-text>
        <ion-text>Server: {{ server.serverInfo.version }}</ion-text>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  <app-topbar></app-topbar>
  <ion-router-outlet Id="content"></ion-router-outlet>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
