<ion-app>
  <ion-menu side="start" menuId="first" contentId="content">
    <ion-header>
      <ion-item>
        <ion-toolbar>
          <ion-buttons>
              <ion-menu-button color="dark" slot="start">
              </ion-menu-button>
           </ion-buttons>
      </ion-toolbar>
           <ion-text>Menu</ion-text>
      </ion-item>
    </ion-header>
    <ion-content color="light">
      <ion-list *ngIf="this.server.isHost == true">
        <ion-item [routerLink]="kickPlayer" routerDirection="forward">
          <ion-icon name="person-outline" slot="start"></ion-icon>
            Kick Player
        </ion-item>
        <ion-item  button (click)="showPrompt()">
          <ion-icon name="person-outline" slot="start"></ion-icon>
            Change Name
        </ion-item>
        <ion-item [routerLink]="editScores" routerDirection="forward">
          <ion-icon name="easel-outline" slot="start"></ion-icon>
            Edit Scores
        </ion-item>
      </ion-list>

      <ion-list *ngIf="this.server.inRoom">
        <ion-item [routerLink]="scores" routerDirection="forward">
          <ion-icon name="easel-outline" slot="start"></ion-icon>
            Scores
        </ion-item>
        <ion-item [routerLink]="rules" routerDirection="forward">
          <ion-icon name="school-outline" slot="start"></ion-icon>
            Rules
        </ion-item>
        <ion-item routerLink="leaveRoom" routerDirection="forward">
          <ion-icon name="exit-outline" slot="start"></ion-icon>
            Leave Room
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item [routerLink]="exit" routerDirection="forward">
          <ion-icon name="close-circle-outline" slot="start"></ion-icon>
            Exit
        </ion-item>
      </ion-list>
      
    </ion-content>
    <ion-footer>
      <ion-toolbar >
        <ion-text>App: {{ versionNumer }} </ion-text>
        <ion-text>Server: {{ server.serverInfo.version }}</ion-text>
      </ion-toolbar>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet Id="content"></ion-router-outlet>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
