

<ion-content>



<ion-card color="secondary" >
  <ion-card-header>
<ion-card-title class="ion-text-center"> DRAW!</ion-card-title>
  </ion-card-header>

  <ion-card *ngIf="lastguess != 'placeholder'">

    <ion-card-header  class="ion-text-center">
      {{lastguess}} was not the FAKE artist, play another round.

</ion-card-header>
</ion-card>

  <ion-card>

      <ion-card-header  class="ion-text-center">
    Take turns drawing. You can only draw a contious line. After everyone has drawn at least once, Everyone votes on who they think did not know the Title (the FAKE artist).
    If there was a clear majority then the host will check on their device. If not, play another round.

  </ion-card-header>
</ion-card>
</ion-card>

<ion-card color="secondary" >
  <ion-card-header>

      <ion-title class="ion-text-center">
        The category is {{server.roomInfo.category}}
      </ion-title>
 <ion-title class="ion-text-center">
  The title is....
</ion-title>
     <ion-title class="ion-text-center">
       {{message}}
     </ion-title>
  </ion-card-header>

<ion-card>
<ion-button fill="clear"  expand="block" size="large"><ion-text color="secondary">
  Hold to Reveal
  </ion-text>

</ion-button>
</ion-card>
</ion-card>

<ion-card  *ngIf="server.isHost" color="secondary" >
  <ion-card-header>
  <ion-card-title class="ion-text-center"> Guess who was the FAKE artist</ion-card-title>
  </ion-card-header>
  <ion-card>
  <ion-button (click)="server.noMajority()" fill="white"  expand="block" size="large"><ion-text color="secondary">
    No majority
    </ion-text>

  </ion-button>
</ion-card>

  <ion-list *ngFor="let player of server.roomInfo.players">
    <ion-item button *ngIf="player.guessed == false" (click)="showPrompt(player.name)">
      <ion-icon  slot="start" name ="person-outline"></ion-icon>
      {{player.name}}
    </ion-item>
    <ion-item  color="medium" *ngIf="player.guessed == true">
      <ion-icon  slot="start" name ="close-outline"></ion-icon>
      {{player.name}}
    </ion-item>
  </ion-list>
</ion-card>
