<app-topbar></app-topbar>

<ion-content>

  <ion-card>
    <ion-button *ngIf="isOnline == true" expand="block" size="large" (click)="presentPopover()"> 
      <ion-icon slot="start" name="add"></ion-icon>
        Create Game
      </ion-button>
  <ion-button *ngIf="isOnline == false" color="medium" expand="block" size="large" >   
      Offline    
</ion-button>
</ion-card>

<ion-card>
  <ion-button *ngIf="isOnline == true" expand="block" size="large" >
    <ion-icon slot="start" name="add"></ion-icon>
      join Game
</ion-button>
<ion-button *ngIf="isOnline == false" color="medium" expand="block" size="large" >  
      Offline 
</ion-button>
  </ion-card>
  

</ion-content>
